<!doctype html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href={{url_for('static', filename='css/style.css' ) }}>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
        <a style="color:black" href="/">Главная страница</a>
        <a style="color:black" href="/favorite_book">Избранное</a>
        {% else %}
        <p>
            <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
            <a class="btn btn-success" href="/login">Войти</a>
        </p>
        <a style="color:black;position:relative;left:-50%;" href="/">Главная страница</a>
        {% endif %}

    </nav>
</header>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<footer>
    <a href="#">about us</a>
    <p>© 2013 Catalogspot Revo. All rights reserved.</p>

</footer>
</body>
</html>